/* Imports Lato and Oswald fonts which are used throughout */
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* Making sure all margins and padding start at 0 */
* {
    margin: 0;
    padding: 0;
}

/* Default font and text colour */
body {
    background-color: white;
    font-family: Lato;
}

/* Navbar elements */
nav {
    width: 100%;
    height: 25px;
    background-color: black;
}

nav p {
    color: white;
    text-align: center;
}

nav a {
    float: right;
    position: inline;
    text-decoration: none;
    transform: translateY(-39px);
    margin-right: 10px;
    color: white;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

/* Main title */
h3 {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* All randomiser and reset buttons */
.randomButtons, #resetButtons {
    display: inline-block;
    transition: all .15s linear;
    height: 65px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 10px;
}

.randomButtons {
    background-color: #00fbff;
    border: 1px solid cyan;
}

#resetButtons {
    color: black;
    border: 1px solid white;
    background-color: white;
}

#resetButtons:hover {
    color: #000000;
    background-color: #ededed;
    border: 1px solid black;
}

/* League of Legends role icons */
.roleButtons {
    display: inline-block;
    transition: all .15s linear;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0;
}

.randomButtons:hover, .roleButtons:hover {
    background-color: rgb(0, 220, 255);
    border: 1px solid black;
}

/* League map background and football pitch */
#leagueMap, #pitch {
    width: 100%;
    max-width: 1200px;
    height: auto;
    position: relative;
    margin-top: 10px;
}

.container img {
    height: auto;
    margin: 0;
    padding: 0;
}

/* Positioning of League of Legends role icons */
#top, #jung, #mid, #adc, #supp {
    position: absolute;
}

#top {
    background-image: url(/images/Position_Grandmaster-Top.png);
    top: 23%;
    left: 23%;
}

#jung {
    background-image: url(/images/Position_Grandmaster-Jungle.png);
    top: 40%;
    left: 30%;
}

#mid {
    background-image: url(/images/Position_Grandmaster-Mid.png);
    top: 42%;
    left: 48%;
}

#adc {
    background-image: url(/images/Position_Grandmaster-Bot.png);
    top: 60%;
    left: 73.5%;
}

#supp {
    background-image: url(/images/Position_Grandmaster-Support.png);
    top: 67.5%;
    left: 80%;
}

/* League random champion results text */
.ChampText {
    font-size: 18px;
    color: black;
}

/* Styling and positioning of football positions */

#pitch {
    margin-bottom: 15px;
}

#GK { top: 12%; left: 50%; transform: translate(-50%, -50%); }
#RB { top: 30%; left: 20%; transform: translate(-50%, -50%); }
#LCB { top: 30%; left: 40%; transform: translate(-50%, -50%); }
#RCB { top: 30%; left: 60%; transform: translate(-50%, -50%); }
#LB { top: 30%; left: 80%; transform: translate(-50%, -50%); }

#RCM { top: 55%; left: 30%; transform: translate(-50%, -50%); }
#CAM { top: 65%; left: 50%; transform: translate(-50%, -50%); }
#LCM { top: 55%; left: 70%; transform: translate(-50%, -50%); }

#RW { top: 80%; left: 20%; transform: translate(-50%, -50%); }
#ST { top: 90%; left: 50%; transform: translate(-50%, -50%); }
#LW { top: 80%; left: 80%; transform: translate(-50%, -50%); }


 .position {
    position: absolute;
    width: 100px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }
  

  /* Sweepstake section styling */
#sweepstake {
    padding-bottom: 15px;
}

#convertor {
    transform: translateY(-5px);
}